// Default variable overrides

// Bootstrap variables

// Bootstrap icons variables
$bootstrap-icons-font-dir: "./bi-fonts";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

// Additional custom code here

/* Initialize */

main section {
    margin-bottom: map-get($spacers, 5);
}

/* Stylings for navbar */

.nav-item-stretch {
    flex: 1;
}
.nav-item-stretch:hover {
    background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity));
}

/* Stylings for skills section */

#skills .logo {
    height: 100px;
}

/* Stylings for projects section */

#projects .custom-card-header {
    height: 250px;
}

/* Stylings for scrolling offsets */

#skills,
#certificates,
#projects,
#contacts {
    scroll-margin-top: 64px;
}

